<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="scss/custom.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
     
<section id="mainSection">
      <div class="container-fluid">
       
          <div class="row mx-1 pt-4">
             <div class="col-3"><img src="image/logo-light.png" alt=""></div>
             <div class="col-8 ml-auto">
                <nav class="navbar navbar-expand-lg navbar-light text-light float-right mr-5">
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">Home <span class="sr-only">(current)</span></a>
                     <div class="bottom-border mx-auto"></div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">About</a>
                      <div class="bottom-border mx-auto"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">Financial Planing</a>
                    <div class="bottom-border mx-auto"></div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">Investment Help</a>
                     <div class="bottom-border mx-auto"></div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">Advice</a>
                     <div class="bottom-border mx-auto"></div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">Contact</a>
                     <div class="bottom-border mx-auto"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light text-uppercase font-weight-normal mx-2 py-0" href="#">
                      
                    </a>
                    
                  </li>

                </ul>
                  
              </div>
            </nav>

           </div>
          </div>
          <div class="col-12 mx-5 "> 
            <div>
              <p>Call us</p>
            </div>
            <div>
              <a href="">1-800-1234-567</a>
            </div>
            <div>
              <h1>
                Because Money
              </h1>
            </div>
            <div>
              <h2>
                Doesn’t come with instructions
              </h2>
            </div>
            <div class="button">
              <div class="buttonInside"> FREE  CONSULTATION </div>
            </div>
          
          </div>
      
        

      </div>
  </section>
 
<section id="wellcome" class="bg-light ">
                <div class="jumbotron text-center bg-light" id="yuxariYazi">
                  <h1>Welcome</h1>
                  <p class="separater mx-auto"></p>
                  <p class="asagiYazi">Dealing with your finances can be intimidating. That's why we take the time to listen to you, learn your goals and then create your plan using John Doe’s philosophies that reflect the latest academic research.</p> 
                 </div>
                 <div class="row px-5">
                 <div class="col-4">
                    <div class="row">
                      <div class="col-2 text-white bg-success"><i class="fas fa-money-bill"></i></div>
                      <div class="col-10">
                            <h3 class="text-left">Saving Solutions </h3>        
                            <p class="text-left">There is a variety of saving plans which can be tailored to your needs, including:</p>
                            <ul class="list list-marked">
                               <li class="text-left">Tax Exempt Savings</li>
                               <li class="text-left">Regular Savings.</li>
                             </ul>
                      </div>
                    </div>
                 </div>
                 <div class="col-4">
                    <div class="row">
                      <div class="col-2"><i class="fas fa-tv"></i></div>
                      <div class="col-10">
                        <h3 class="text-left">Saving Solutions </h3>
                        <p class="text-left">Inheritance tax planning is an important element of your wealth management strategy, as it allows you to continue to help your loved ones after you’re gone.</p>
                      </div>
                    </div>
                 </div>
                 <div class="col-4">
                     <div class="row">
                      <div class="col-2"><i class="fas fa-poll"></i></div>
                      <div class="col-10 id">
                           <h3 class="text-left">University Fee Planning</h3>
                           <p class="text-left">We all want our children to have good prospects, which is why education fees planning is a vital wealth management matter that shouldn’t be overlooked.</p>
                      </div>
                     </div>
                   </div>
                 </div>  
  </section>

<section id="about">
     <div class="container-fluid px-5">
       <div class="row px-3">
         <div class="col-7 pt-5"><img src="image/user-john-doe-598x624.png" alt=""></div>
         <div class="col-5">
          <div class="row">
             <div class="col-12">
                <h1 class="yuxariYazi">About</h1>
                <p class="separater"></p>
                <h6>Intense is an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Intense gives me the ability to advise international expatriates living in the middle east from where I live in USA</h6>
                <div class="row">
                  <div class="col-1 yanXett"></div>
                  <div class="col-10 asagiYazi">I am John Doe, a senior advisor for an independently owned financial planning company called Intense.</div>
                </div>
                <div class="row">
                      <div class="button">
                         <div class="buttonInside"> EXPLORE MORE </div>
                      </div>
                </div>
             </div>
           </div>
         </div>
       </div>
      
     </div>

     



     </section>

<section id="testimonials" class="bg-light">
      <div class="jumbotron text-center bg-light" id="yuxariYazi">
       <h1>Welcome</h1>
       <p class="separater mx-auto"></p>
      </div>
      <div class="row " id="description">
        <div>
          <div class="row">
            <div class="col-4"><img src="image/user-steven-carpenter-80x80.jpg" alt=""></div>
            <div class="col-2 ml-auto"><i class="fas fa-quote-right"></i></div>
          </div>
           <div class="row">
             <h6 class="px-3">It is not every day that you come across a passionate and trustworthy financial advisor. John Doe is true professional who does his work really well. Thanks John!</h6>
             <p class="px-3">Johnson.M.J.</p>
           </div>
        </div>
        <div>
          <div class="row">
            <div class="col-4"><img src="image/user-carol-harper-80x80.jpg" alt=""></div>
            <div class="col-2 ml-auto"><i class="fas fa-quote-right"></i></div>
          </div>
          <div class="row">
            <h6 class="px-3">In just 2 very short meetings with John he managed to find the solution personally catered to my situation and expectations. Punctual, well informed and very reliable.</h6>
            <p class="px-3">Johnson.M.J.</p>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-4"><img src="image/user-andrew-wilson-80x80.jpg" alt=""></div>
            <div class="col-2 ml-auto"><i class="fas fa-quote-right"></i></div>
          </div>
          <div class="row">
            <h6 class="px-3">A very professional financial advisor, who is true to his word. John has demonstrated a high amount of integrity in the time I have known him, and he is fast to respond to my concerns</h6>
            <p class="px-3">Johnson.M.J.</p>
          </div>
        </div>
      



      </div>
 

  
      </section>    

<section id="phlisopy" class="container-fluid">

  <div class="row">
    <div class="col-6" id="left">
       <h3 class="font-italic">More Than 100 Financial Planners</h3>
       <h1>One Philosophy</h1>
       <p></p>
       <h6>Every single one of our financial advisors receives rigorous training according to John Doe’s philosophy based on academic research (including that of a Nobel laureate in Economics) and Behavioral Finance.</h6>
      <div class="button">
          <div class="buttonInside">GET YOUR FREE FINANCIAL ANALYSIS</div>
        </div>

    </div>
    


    <div class="col-6">
      <a href="https://www.youtube.com/watch?v=oeqP5JtihMA"></a>
    </div>
  </div>
  

 </section>
























    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   
   
  </body>
</html>












































































